/* === GENERAL === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === css variables === */
:root {
    --header-bg-color: rgb(0, 0, 0);
    --textarea-bg-color: rgb(14, 14, 14);
    --body-bg-color: rgb(14, 14, 14);
    --nav-link-color: white;
}

/* === body style === */
body {
    background: rgb(14, 14, 14);
    margin: auto;
    line-height: 1.75;
    font-weight: 900;
    word-spacing: 1.5px;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
}

/* === header style === */
header {
    background: rgb(0, 0, 0);
}
/* === title and subtitle style === */
h1,
h2 {
    margin: 20px;
    font-weight: 300;
    font-family: Nunito;
}

/* === header menu style === */

.menu-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(221, 215, 215);
    padding: 25px;
}

.nav-lists {
    display: flex;
    margin-right: 0em;
}

.nav-list {
    list-style: none;
    margin: 0 5px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    padding: 0 5px;
    color: white;
    font-weight: 400;
}

.brand-name {
    font-size: 28px;
    font-weight: bolder;
    font-style: bolder;
    color: #F5E400;
    margin-left: 9em;
    margin-right: 20em;
}
.brand-name:hover, .nav-link:hover, .active:hover {
  color: #F5E400;
  transition: 0.15s;
}
.brand-name:active, .nav-link:active, .active:active {
  color: #F5E400;
  scale: 0.75;
  transition: 0.15s;
}
/* === paragraph text style === */
p {
    font-size: 22px;
    font-weight: 300;
}

/* === main style === */
main {
    width: 90%;
    margin: auto;
}

/* === container div inside main style === */

.container {
    background: rgb(14, 14, 14);
    margin-top: 80px;
    margin: auto;
    margin-left: 0em;
    width: 200%;
    margin-right: 0em;
    height: 40em;
}

.tech-lists {
    margin: 10px auto;
    text-align: left;
    font-size: 20px;
}
.tech {
    list-style: none;
}
/* === button style === */
.btn {
    width: 150px;
    height: 50px;
    background: var(--header-bg-color);
    color: var(--nav-link-color);
    font-size: 20px;
    margin: 5px;
    border: 1px solid var(--header-bg-color);
    font-family: Lato;
    cursor: pointer;
}

.btn:focus {
    outline: 0px solid #2a70a5;
    cursor: pointer;
}
/* === textarea style === */
textarea {
    width: 65%;
    margin: auto;
    padding: 10px 15px;
    outline: 2px solid rgba(207, 203, 203, 0.25);
    border: none;
    font-size: 18px;
    font-family: Lato;
    font-weight: 300;
}

textarea:focus {
    border: none;
    outline: 2px solid rgba(74, 119, 153, 0.45);
    background: var(--textarea-bg-color);
    font-size: 18px;
    caret-color: var(--header-bg-color);
    font-family: Lato;
    font-weight: 300;

}

/* === responsiveness === */
@media (max-width:600px) {

    .menu-container {
        display: block;
        flex-direction: column;
        justify-content: space-between;
    }
    h1{
        font-size: 22px;
    }

    .nav-lists {
        flex-direction: column;
    }

    textarea {
        width: 100%;
    }

}

h1 {
    color: #F5E400;
    font-weight: 1000;
    font-style: bolder;
}

h2 {
    color: white;
}

.hero-button {
  width: 14em;
  height: 5em;
  border-radius: 2.5em;
  border-color: #F5E400;
  border-width: blur(2px);
  border-style: solid;
  background-color: rgb(14, 14, 14);
  color: #00C0FF;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  font-family: 'lato', 'sans-serif';
  margin-top: 14em;
  margin-left: 18em;
}
.hero-subtxt {
  margin-left: 10em;
}

.hero-txt {
  margin-top: 3em;
  margin-left: 8em;
}
  /* SIGN UP PAGE */
  
  .emboss-txt {
    margin: auto;
    font-weight: 600;
    font-size: 120px;
    display: block;
    text-align: center;
    width: 8em;
    position: relative;
    content: "Sign Up";
    letter-spacing: 5px;
    color:rgb(207,207,207);
    text-shadow: 
    /*3D layers*/
    0px 0px 1px rgb(167,167,167),
    0px 1px 1px rgb(167,167,167),
    0px 2px 1px rgb(167,167,167),

    1px 1px 1px rgb(167,167,167),
    1px 2px 1px rgb(167,167,167),
    1px 3px 1px rgb(167,167,167),

    2px 2px 1px rgb(167,167,167),
    2px 3px 1px rgb(167,167,167),
    2px 4px 1px rgb(167,167,167),
    /*long soft bottom*/
    1px 10px 30px rgba(0,0,0,0.8),
    1px 10px 70px rgba(0,0,0,0.8),

    /*short soft bottom*/
    0px 5px 5px rgba(0,0,0,0.8),

    /*left shadow*/
    -5px 5px 20px rgba(0,0,0,0.8),
    /*right shadow*/
    5px 5px 20px rgba(0,0,0,0.8)
    
    /* white light */
    1px 1px 120px rgba(255, 255, 255, 0.5);
    }
    .emboss-txt::after {
        content: "Sign Up";
        margin: auto;
        margin-top: -1.75em;
        font-weight: 600;
        display: block;
        text-align: center;
        top: 0;
        left: 0;
        width: 8em;
        font-size: 120px;
        letter-spacing: 5px;
        position: absolute;
        top:0;
        left:0;
        text-shadow: 0px 0px 100px rgba(11,124,199,0.5);
        animation: cycle 10s linear infinite;
      }

    @keyframes cycle {
    0% { text-shadow: 0px 0px 100px rgba(11,124,199,0.5);}
    20% { text-shadow: 0px 0px 100px rgba(168,11,199,0.5);}
    40% { text-shadow: 0px 0px 100px rgba(11,199,96,0.5);}
    60% { text-shadow: 0px 0px 100px rgba(199,11,11,0.5);}
    80% { text-shadow: 0px 0px 100px rgba(199,96,11,0.5);}
    }

  .signup {
    margin: auto;
    font-weight: 600;
    font-size: 60px;
    display: block;
    text-align: center;
    margin-top: 3.5em;
    width: 8em;
    position: relative;
  }

  .form-group {
    margin: auto;
    top: -2;
    scale: 1.2;
    color: #34dfff;
    display: block;
    width: 20em;
    margin-bottom: 10px;
    position: relative;
  }

  .form-control {
    background-color: rgb(14, 14, 14);
    border-color: #ff4d00;
    border-style: solid;
    border-width: 1px;
    scale: 1.2;
    position: relative;
    margin: auto;
    color: #34dfff;
    width: 15em;
    font-size: 12px;
    height: 1.5em;
    display: block;
    margin-bottom: 20px;
  }
  
  ::placeholder {
    color: #34dfff;
    opacity: 1;
  }

  .signup-label {
    margin: auto;
    display: block;
    margin-left: 3.5em;
    margin-bottom: 10px;
  }
  
  .signup-button {
    width: 14em;
    height: 5em;
    border-radius: 2.5em;
    border-color: #F5E400;
    border-width: blur(2px);
    border-style: solid;
    background-color: rgb(14, 14, 14);
    color: #00C0FF;
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
    font-family: 'lato', 'sans-serif';
    margin-top: 3em;
    margin-left: 2em;
  }
  

  .emboss-txt-login {
    margin: auto;
    font-weight: 600;
    font-size: 120px;
    display: block;
    text-align: center;
    width: 8em;
    position: relative;
    content: "Log In";
    letter-spacing: 5px;
    color:rgb(207,207,207);
    text-shadow: 
    /*3D layers*/
    0px 0px 1px rgb(167,167,167),
    0px 1px 1px rgb(167,167,167),
    0px 2px 1px rgb(167,167,167),

    1px 1px 1px rgb(167,167,167),
    1px 2px 1px rgb(167,167,167),
    1px 3px 1px rgb(167,167,167),

    2px 2px 1px rgb(167,167,167),
    2px 3px 1px rgb(167,167,167),
    2px 4px 1px rgb(167,167,167),
    /*long soft bottom*/
    1px 10px 30px rgba(0,0,0,0.8),
    1px 10px 70px rgba(0,0,0,0.8),

    /*short soft bottom*/
    0px 5px 5px rgba(0,0,0,0.8),

    /*left shadow*/
    -5px 5px 20px rgba(0,0,0,0.8),
    /*right shadow*/
    5px 5px 20px rgba(0,0,0,0.8)
    
    /* white light */
    1px 1px 120px rgba(255, 255, 255, 0.5);
    }
    .emboss-txt-login::after {
        content: "Log In";
        margin: auto;
        margin-top: -1.75em;
        font-weight: 600;
        display: block;
        text-align: center;
        top: 0;
        left: 0;
        width: 8em;
        font-size: 120px;
        letter-spacing: 5px;
        position: absolute;
        top:0;
        left:0;
        text-shadow: 0px 0px 100px rgba(11,124,199,0.5);
        animation: cycle 10s linear infinite;
      }

    @keyframes cycle {
    0% { text-shadow: 0px 0px 100px rgba(11,124,199,0.5);}
    20% { text-shadow: 0px 0px 100px rgba(168,11,199,0.5);}
    40% { text-shadow: 0px 0px 100px rgba(11,199,96,0.5);}
    60% { text-shadow: 0px 0px 100px rgba(199,11,11,0.5);}
    80% { text-shadow: 0px 0px 100px rgba(199,96,11,0.5);}
    }

    .login {
        margin: auto;
        font-weight: 600;
        font-size: 60px;
        display: block;
        text-align: center;
        margin-top: 3.5em;
        width: 8em;
        position: relative;
      }
      
/* CRM PAGE */
.crm-page {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.crm-menu {
  width: 20%;
  height: 80%;
  display:inline-block;
  position: relative;
  background-color: rgb(14, 14, 14);
  border-right-color: #F5E400;
  border-right-style: solid;
  border-right-width: blur(2px);
  left: 0;
  bottom: 0;
  top: 0;
  color: #F5E400;
}
.contacts-block {
  display: block;
  position: relative;
  height: 80%;
  width: 110%;
  right: 3.8em
}
.crm-inner-page {
  width: 80%;
  height: 100%;
  background-color: rgb(14, 14, 14);
  right: 0;
  bottom: 0;
  top: 6.3em;
  position: absolute;
  display: block;
  padding: 20px;
}
.crm-upper-static {
  right: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  height:1em;
}
.upload-csv {
  display: inline-block;
  position: relative;
  margin-left: 50em;
  margin-top: 5em;
  color: white;
  right: -25em;
  bottom: 4em;
}
.upload-csv:hover {
  display: inline-block;
  position: relative;
  margin-left: 50em;
  margin-top: 5em;
  color: #F5E400;
  right: -25em;
  bottom: 4em;
  opacity: 0.75;
  transition: 0.15s;
}

.upload {
  margin-right: 0em;
  display:inline-block;
  position: relative;
  right: -25em;
  border-width: blur(2px);
  border-style: solid;
  border-color: #F5E400;
  background-color: rgb(14,14,14);
  color: white;
  height: 3em;
  width: 8em;
  border-radius: 1.5em;
  bottom: 4em;
}

.upload:hover {
  margin-right: 0em;
  display:inline-block;
  position: relative;
  right: -25em;
  border-width: blur(2px);
  border-style: solid;
  border-color: #F5E400;
  background-color: rgb(14,14,14);
  color: white;
  height: 3em;
  width: 8em;
  border-radius: 1.5em;
  bottom: 4em;
  opacity: 0.75;
  transition: 0.15s;
} 

.crm-contacts {
  position: relative;
  display: inline-block;
  background-color: rgb(14, 14, 14);
  width: 100%;
  height: 80%;
  margin-bottom: 0em;
  margin-top: 0em;
  bottom: 2em;
}
.crm-contacts-due-dates {
  position: relative;
  display: inline-block;
  background-color: rgb(14, 14, 14);
  width: 80%;
  height: 80%;
  margin-bottom: 0em;
  margin-top: 0em;
  bottom: 2em;

}
.contacts-section {
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background-color: rgb(21, 21, 21);
  color: white;
  padding: 30px;
}
.login-button {
  width: 14em;
  height: 5em;
  border-radius: 2.5em;
  border-color: #F5E400;
  border-width: blur(2px);
  border-style: solid;
  background-color: rgb(14, 14, 14);
  color: #00C0FF;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  font-family: 'lato', 'sans-serif';
  margin-top: 3em;
  margin-left: 2em;
}
.crm-header {
  display: table-row;
  width: 100%;
  text-align: center;
}
.crm-header-item {
  margin-bottom: 3em;
}
.page-item-crm, .total-pages, .next-page, .static-page-txt, .previous-page {
  position: relative;
  margin-right: 10px;  /* Add right margin */
}
.static-page-txt {
  color: #F5E400;
}
.page-item-crm, .total-pages, .next-page, .previous-page, .three-dots {
  position: relative;
  margin-top: 8px;  /* Add right margin */
  color: white;
}
.page-item-crm:hover, .total-pages:hover, .next-page:hover, .previous-page:hover {
  position: relative;
  margin-top: 8px;  /* Add right margin */
  color: #F5E400;
}
.three-dots {
  margin-right: 5px;
  margin-left: 5px;
}
.crm-info-row {
  display: table-row;
  position: relative;
  background-color: rgb(21,21,21);
  margin-top: 3px;
  border-color: #F5E400;
  border-width: blur(2px);
  border-style: solid;
  height: 5em;
  padding: 1.5em;
  width: 100%;
}
.crm-info {
  display: table-cell;
  width: 20%;
  text-align: center;
}

.crm-info-row:hover {
  background-color: rgb(14,14,14);
  cursor: pointer;
}
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:transparent;
  background: none;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: none;
}

.pagination {
  margin-top: 10px;
  margin-left: 1.7em;
}
.contacts-block {
  display: block;
  font-family: 'lato', 'sans-serif';
  font-weight: 600;
  color: white;
  font-size: 28px;
  text-align: center;
  border-width: blur(2px);
  border-color: #F5E400;
  border-style: solid;
}
input[type=file]::file-selector-button {
  display: inline-block;
  border-width: blur(2px);
  border-style: solid;
  border-color: #F5E400;
  background-color: rgb(14,14,14);
  color: white;
  height: 3em;
  width: 8em;
  border-radius: 1.5em;
  bottom: -7em;
}
.contact-link {
  text-decoration: none;
  color: white;
}
.contact-link:hover {
  text-decoration: none;
  color: white;
}

.contact-details {
  color: white;
}
.contact-details-header {
  margin-left: 0em;
}
.contact-details-div {
  margin-left: 24em;
}
.tag-button {
  display: inline-block;
  margin: auto;
  height: 2em;
  width: 6em;
  background-color: #F5E400;
  color: black;
  border-radius: 1em;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
.tag-button:hover {
  display: inline-block;
  margin: auto;
  height: 2em;
  width: 6em;
  background-color: #F5E400;
  color: black;
  border-radius: 1em;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  opacity: 0.75;
  transition: 0.15s;
}

.delete-contact-btn {
  display: inline-block;
  margin: auto;
  height: 2em;
  width: 6em;
  background: none;
  color: white;
  border-radius: 1em;
  border-color: #F5E400;
  border-style: solid;
  border-width: blur(2px);
  margin-left: 8em;
  margin-top: 3em;
}
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  color: #F5E400;
  text-align: center;
  line-height: 50px;
  font-size: 20px;  /* Adjusted font size */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: none;
  border-color: #F5E400;
  border-width: blur(2px);
  border-style: solid;
}

.profile-picture::before {
  content: attr(data-initial);
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: none;
}

.profile-picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: none;
  border-color: #F5E400;
  border-width: blur(2px);
  border-style: solid;
}

.profile-picture-details {
  margin-left: -4em;
  display: inline-block;
  position: relative;
  margin-right: 2em;
  top: -14em
}
.contact-details-txt {
  display: inline-block;
}
.new-note-form {
  display: block;
  position: relative;
  margin-left: 25em;
}
.notes-label {
  display: block;
  color: #F5E400;
  font-size: 24px;
  font-weight: bold;
}
.notes-submit-btn {
  display: block;
  position: relative;
  background-color: #F5E400;
  border: transparent;
  border-radius: 1em;
  height: 2em;
  width: 6em;
  margin-top: 3em;
  color: black;
  font-weight: bolder;
}
.notes-txt-input {
  display: block;
  position: relative;
  background-color: rgb(14,14,14);
  color: white;
  border-color: #f5e400;
  border-style: solid;
  border-width: blur(2px);
  right: 15.7em;
}
.notes-txt-input:focus {
  display: block;
  position: relative;
  background-color: rgb(14,14,14);
  color: white;
  border-color: #f5e400;
  border-style: solid;
  border-width: blur(2px);
  right: 15.7em;
}

.last-note-heading {
  display: block;
  position: relative;
  color: #f5e400;
  margin-left: 14.3em;
  margin-top: 1em;
  font-weight: bold;
}
.last-note {
  display: block;
  position: relative;
  color: white;
  margin-left: 18.2em;
  margin-top: 1em;
}
.prev-note-heading {
  display: block;
  position: relative;
  color: #f5e400;
  font-weight: bold;
  margin-left: 14.3em;
  margin-top: 1em;
}
.no-previous-note, .previous-note {
  display: block;
  position: relative;
  color: white;
  margin-left: 25em;
  margin-top: 1em;
}
.contact-details-button-div {
  display: block;
  position: relative;
}

#toggleNotes {
  display: inline-block;
  position: relative;
  height: 2em;
  width: 6em;
  border-radius: 1em;
  background-color: #F5E400;
  color: black;
  border: transparent;
  margin-top: 3em;
  margin: auto;
  left: 25em;
  margin-bottom: 1em;
}
#toggleNotes:focus {
  outline: none;
}
.back-to-crm {
  display: inline-block;
  position: relative;
  height: 2em;
  width: 6em;
  border-radius: 1em;
  background-color: #F5E400;
  color: black;
  border: transparent;
  margin-top: 3em;
  margin: auto;
  top: 5em;
  left: 1em;
  padding: 2px;
}
.tag-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.contact-tags {
  display: block;
  position: relative;
}

.tag-btn {
  margin: 0 5px;
  border-width: blur(2px);
  border-style: solid;
  border-color: #F5E400;
  background-color: transparent;
  color: white;
  height: 2em;
  width: fit-content;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  position: relative;
}
.tag-btn-none {
  display: flex;
  margin: 0 5px;
  background-color: transparent;
  color: white;
  height: 2em;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
#new_tag {
  display: inline-block;
  position: relative;
  background-color: rgb(14,14,14);
  color: white;
  border-color: #f5e400;
  border-style: solid;
  border-width: blur(2px);
  right: 4em;
}
#new_tag:focus {
  display: inline-block;
  position: relative;
  background-color: rgb(14,14,14);
  color: white;
  border-color: #f5e400;
  border-style: solid;
  border-width: blur(2px);
  outline: none;
}
.add-tag {
  display: inline-block;
  position: relative;
  background-color: #F5E400;
  border: transparent;
  border-radius: 1em;
  height: 2em;
  width: 6em;
  color: black;
  font-weight: bolder;
  left: -2em;
  margin-top: 1em;
}
.add-tag:hover {
  display: inline-block;
  position: relative;
  background-color: #F5E400;
  border: transparent;
  border-radius: 1em;
  height: 2em;
  width: 6em;
  color: black;
  font-weight: bolder;
  left: -2em;
  margin-top: 1em;
  opacity: 0.75;
  transition: 0.15s;
}
.add-tag:active {
  display: inline-block;
  position: relative;
  background-color: #F5E400;
  border: transparent;
  border-radius: 1em;
  height: 2em;
  width: 6em;
  color: black;
  font-weight: bolder;
  left: -2em;
  margin-top: 1em;
  opacity: 0.75;
  scale: 0.75;
  transition: 0.15s;
}
#due_date {
  display: inline-block;
  position: relative;
  background-color: rgb(14,14,14);
  color: white;
  border-color: #f5e400;
  border-style: solid;
  left: 4em;
  top:5em;
}
#due_date:focus {
  display: inline-block;
  position: relative;
  background-color: rgb(14,14,14);
  color: white;
  border-color: #f5e400;
  border-style: solid;
  left: 4em;
  top:5em;
  outline: none;
}
.label-due-date {
  color: white;
  display: inline-block;
  position: relative;
  left: 8.7em;
  top: 3em;
}
.contacts-block {
  display: block;
  position: relative;
  height: 10%;
  width: 110%;
  right: 3.8em;
  margin-bottom: 0.25em;
}

.contacts-link {
  color: white;
  text-decoration: none;
}
.contacts-link:hover {
  color: white;
  text-decoration: none;
  opacity: 0.75;
  transition: 0.15s;
}

.contacts-link:active {
  color: white;
  text-decoration: none;
  opacity: 0.75;
  scale: 0.75;
  transition: 0.15s;
}
.contacts-block:hover {
  opacity: 0.75;
  transition: 0.15s;
}
.contacts-block:active {
  opacity: 0.75;
  scale: 0.75;
  transition: 0.15s;
}
.nav-item, .dropdown {
  margin-left: 2em;
}