/* === GENERAL === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === css variables === */
:root {
    --header-bg-color: rgb(0, 0, 0);
    --textarea-bg-color: rgb(14, 14, 14);
    --body-bg-color: rgb(14, 14, 14);
    --nav-link-color: white;
}

/* === body style === */
body {
    background: rgb(14, 14, 14);
    margin: auto;
    line-height: 1.75;
    font-weight: 900;
    word-spacing: 1.5px;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
}

/* === header style === */
header {
    background: rgb(0, 0, 0);
}
/* === title and subtitle style === */
h1,
h2 {
    margin: 20px;
    font-weight: 300;
    font-family: Nunito;
}

/* === header menu style === */

.menu-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(221, 215, 215);
    padding: 25px;
}

.nav-lists {
    display: flex;
    margin-right: 0em;
}

.nav-list {
    list-style: none;
    margin: 0 5px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    padding: 0 5px;
    color: white;
    font-weight: 400;
}

.brand-name {
    font-size: 28px;
    font-weight: bolder;
    font-style: bolder;
    color: #F5E400;
    margin-left: 9em;
    margin-right: 20em;
}
/* === paragraph text style === */
p {
    font-size: 22px;
    font-weight: 300;
}

/* === main style === */
main {
    width: 90%;
    margin: auto;
}

/* === container div inside main style === */

.container {
    background: rgb(14, 14, 14);
    margin-top: 80px;
    margin: auto;
    margin-left: 0em;
    width: 200%;
    margin-right: 0em;
    height: 40em;
}

.tech-lists {
    margin: 10px auto;
    text-align: left;
    font-size: 20px;
}
.tech {
    list-style: none;
}
/* === button style === */
.btn {
    width: 150px;
    height: 50px;
    background: var(--header-bg-color);
    color: var(--nav-link-color);
    font-size: 20px;
    margin: 5px;
    border: 1px solid var(--header-bg-color);
    font-family: Lato;
    cursor: pointer;
}

.btn:focus {
    outline: 0px solid #2a70a5;
    cursor: pointer;
}
/* === textarea style === */
textarea {
    width: 65%;
    margin: auto;
    padding: 10px 15px;
    outline: 2px solid rgba(207, 203, 203, 0.25);
    border: none;
    font-size: 18px;
    font-family: Lato;
    font-weight: 300;
}

textarea:focus {
    border: none;
    outline: 2px solid rgba(74, 119, 153, 0.45);
    background: var(--textarea-bg-color);
    font-size: 18px;
    caret-color: var(--header-bg-color);
    font-family: Lato;
    font-weight: 300;

}

/* === responsiveness === */
@media (max-width:600px) {

    .menu-container {
        flex-direction: column;
        justify-content: space-between;
    }
    h1{
        font-size: 22px;
    }

    .nav-lists {
        flex-direction: column;
    }

    textarea {
        width: 100%;
    }

}

h1 {
    color: #F5E400;
    font-weight: 1000;
    font-style: bolder;
}

h2 {
    color: white;
}

.hero-button {
  width: 14em;
  height: 5em;
  border-radius: 2.5em;
  border-color: #F5E400;
  border-width: blur(2px);
  border-style: solid;
  background-color: rgb(14, 14, 14);
  color: #00C0FF;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  font-family: 'lato', 'sans-serif';
  margin-top: 14em;
  margin-left: 18em;
}
.hero-subtxt {
  margin-left: 10em;
}

.hero-txt {
  margin-top: 3em;
  margin-left: 8em;
}
  /* SIGN UP PAGE */
  
  .emboss-txt {
    margin: auto;
    font-weight: 600;
    font-size: 120px;
    display: block;
    text-align: center;
    width: 8em;
    position: relative;
    content: "Sign Up";
    letter-spacing: 5px;
    color:rgb(207,207,207);
    text-shadow: 
    /*3D layers*/
    0px 0px 1px rgb(167,167,167),
    0px 1px 1px rgb(167,167,167),
    0px 2px 1px rgb(167,167,167),

    1px 1px 1px rgb(167,167,167),
    1px 2px 1px rgb(167,167,167),
    1px 3px 1px rgb(167,167,167),

    2px 2px 1px rgb(167,167,167),
    2px 3px 1px rgb(167,167,167),
    2px 4px 1px rgb(167,167,167),
    /*long soft bottom*/
    1px 10px 30px rgba(0,0,0,0.8),
    1px 10px 70px rgba(0,0,0,0.8),

    /*short soft bottom*/
    0px 5px 5px rgba(0,0,0,0.8),

    /*left shadow*/
    -5px 5px 20px rgba(0,0,0,0.8),
    /*right shadow*/
    5px 5px 20px rgba(0,0,0,0.8)
    
    /* white light */
    1px 1px 120px rgba(255, 255, 255, 0.5);
    }
    .emboss-txt::after {
        content: "Sign Up";
        margin: auto;
        margin-top: -1.75em;
        font-weight: 600;
        display: block;
        text-align: center;
        top: 0;
        left: 0;
        width: 8em;
        font-size: 120px;
        letter-spacing: 5px;
        position: absolute;
        top:0;
        left:0;
        text-shadow: 0px 0px 100px rgba(11,124,199,0.5);
        animation: cycle 10s linear infinite;
      }

    @keyframes cycle {
    0% { text-shadow: 0px 0px 100px rgba(11,124,199,0.5);}
    20% { text-shadow: 0px 0px 100px rgba(168,11,199,0.5);}
    40% { text-shadow: 0px 0px 100px rgba(11,199,96,0.5);}
    60% { text-shadow: 0px 0px 100px rgba(199,11,11,0.5);}
    80% { text-shadow: 0px 0px 100px rgba(199,96,11,0.5);}
    }

  .signup {
    margin: auto;
    font-weight: 600;
    font-size: 60px;
    display: block;
    text-align: center;
    margin-top: 3.5em;
    width: 8em;
    position: relative;
  }

  .form-group {
    margin: auto;
    top: -2;
    scale: 1.2;
    color: #34dfff;
    display: block;
    width: 20em;
    margin-bottom: 10px;
    position: relative;
  }

  .form-control {
    background-color: rgb(14, 14, 14);
    border-color: #ff4d00;
    border-style: solid;
    border-width: 1px;
    scale: 1.2;
    position: relative;
    margin: auto;
    color: #34dfff;
    width: 15em;
    font-size: 12px;
    height: 1.5em;
    display: block;
    margin-bottom: 20px;
  }
  
  ::placeholder {
    color: #34dfff;
    opacity: 1;
  }

  .signup-label {
    margin: auto;
    display: block;
    margin-left: 3.5em;
    margin-bottom: 10px;
  }
  
  .signup-button {
    width: 14em;
    height: 5em;
    border-radius: 2.5em;
    border-color: #F5E400;
    border-width: blur(2px);
    border-style: solid;
    background-color: rgb(14, 14, 14);
    color: #00C0FF;
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
    font-family: 'lato', 'sans-serif';
    margin-top: 3em;
    margin-left: 2em;
  }
  

  .emboss-txt-login {
    margin: auto;
    font-weight: 600;
    font-size: 120px;
    display: block;
    text-align: center;
    width: 8em;
    position: relative;
    content: "Log In";
    letter-spacing: 5px;
    color:rgb(207,207,207);
    text-shadow: 
    /*3D layers*/
    0px 0px 1px rgb(167,167,167),
    0px 1px 1px rgb(167,167,167),
    0px 2px 1px rgb(167,167,167),

    1px 1px 1px rgb(167,167,167),
    1px 2px 1px rgb(167,167,167),
    1px 3px 1px rgb(167,167,167),

    2px 2px 1px rgb(167,167,167),
    2px 3px 1px rgb(167,167,167),
    2px 4px 1px rgb(167,167,167),
    /*long soft bottom*/
    1px 10px 30px rgba(0,0,0,0.8),
    1px 10px 70px rgba(0,0,0,0.8),

    /*short soft bottom*/
    0px 5px 5px rgba(0,0,0,0.8),

    /*left shadow*/
    -5px 5px 20px rgba(0,0,0,0.8),
    /*right shadow*/
    5px 5px 20px rgba(0,0,0,0.8)
    
    /* white light */
    1px 1px 120px rgba(255, 255, 255, 0.5);
    }
    .emboss-txt-login::after {
        content: "Log In";
        margin: auto;
        margin-top: -1.75em;
        font-weight: 600;
        display: block;
        text-align: center;
        top: 0;
        left: 0;
        width: 8em;
        font-size: 120px;
        letter-spacing: 5px;
        position: absolute;
        top:0;
        left:0;
        text-shadow: 0px 0px 100px rgba(11,124,199,0.5);
        animation: cycle 10s linear infinite;
      }

    @keyframes cycle {
    0% { text-shadow: 0px 0px 100px rgba(11,124,199,0.5);}
    20% { text-shadow: 0px 0px 100px rgba(168,11,199,0.5);}
    40% { text-shadow: 0px 0px 100px rgba(11,199,96,0.5);}
    60% { text-shadow: 0px 0px 100px rgba(199,11,11,0.5);}
    80% { text-shadow: 0px 0px 100px rgba(199,96,11,0.5);}
    }

    .login {
        margin: auto;
        font-weight: 600;
        font-size: 60px;
        display: block;
        text-align: center;
        margin-top: 3.5em;
        width: 8em;
        position: relative;
      }
      
/* CRM PAGE */
.crm-page {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.crm-menu {
  width: 20%;
  height: 100%;
  position: absolute;
  background-color: rgb(7, 7, 7);
  left: 0;
  bottom: 0;
  top: 6.3em;
}
.crm-inner-page {
  width: 80%;
  height: 100%;
  background-color: rgb(14, 14, 14);
  right: 0;
  bottom: 0;
  top: 6.3em;
  position: absolute;
  display: block;
  padding: 20px;
}
.crm-upper-static {
  right: 0;
  position: absolute;
  width: fit-content;
}
.upload-csv {
  position: relative;
  margin-left: 40em;
  margin-top: 6em;
}

.upload {
  margin-right: 20em;
  position: relative;
  right: 4em;
}
.crm-contacts {
  position: relative;
  display: block;
  background-color: rgb(14, 14, 14);
  width: 100%;
  height: 80%;
  margin-bottom: 0em;
  margin-top: 8%;
}
.contacts-section {
  display: block;
  width: 100%;
  position: relative;
  height: 5em;
  background-color: rgb(21, 21, 21);
  color: white;
  padding: 1em;
}
.login-button {
  width: 14em;
  height: 5em;
  border-radius: 2.5em;
  border-color: #F5E400;
  border-width: blur(2px);
  border-style: solid;
  background-color: rgb(14, 14, 14);
  color: #00C0FF;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  font-family: 'lato', 'sans-serif';
  margin-top: 3em;
  margin-left: 2em;
}