{% extends 'layout.html' %} {% block content %}
<div class="crm-page">
    <div class="crm-menu">
        <div class="contacts-block">
            <a>
                <span class="contacts">Contacts</span>
            </a>
        </div>
    </div>
    <div class="crm-inner-page">
        <div class="crm-upper-static">
            <form method="POST" enctype="multipart/form-data">
                <input class="upload-csv" type="file" name="csv" accept=".csv, .xlsx">
                <input class="upload" type="submit" value="upload">
            </form>
        </div>
        <div class="crm-contacts">
            <table class="contacts-section">
                <tr class="crm-header">
                    <th class="crm-header-item">Profile</th>
                    <th class="crm-header-item"> Contact</th>
                    <th class="crm-header-item">Phone/Email</th>
                    <th class="crm-header-item">Last Note</th>
                    <th class="crm-header-item">Tags</th>
                </tr>
                {% if pages and pages[-1] < total_pages %}
                {% for contact in contacts %}
                <tr class="crm-info-row" data-href="{{ url_for('contact_detail', id=contact.id) }}">
                    <td class="crm-info">
                        {% set firstname = contact.contactname if contact.contactname else '' %}
                        {% set lastname = contact.contactlastname if contact.contactlastname else '' %}
                        {% set initials = '' %}

                        {% if firstname and lastname %}
                            {% set initials = firstname[-1].upper() + lastname[0].upper() %}
                        {% elif firstname %}
                            {% set initials = firstname[-1].upper() %}
                        {% elif lastname %}
                            {% set initials = lastname[-1].upper() %}
                        {% else %}
                            {% set initials = contact.Contact[:2].upper() if contact.Contact else contact.contactcompany[-1] %}
                        {% endif %}
                        <div class="center-div">
                            <a class='contact-link' href="{{ url_for('contact_detail', id=contact.id) }}">
                                <div class="profile-picture" data-initial="{{ initials }}"></div>
                            </a>
                        </div>
                    </td>
                    <td class="crm-info"><a class='contact-link' href="{{ url_for('contact_detail', id=contact.id) }}">
                        {% if contact.contactfirstname and contact.contactlastname%}
                            {{ contact.contactfirstname }} 
                        {% elif contact.contactcompany %}
                        {{ contact.contactcompany }}
                        {% else %}
                            {{ contact.Contact }}
                        {% endif %}</a></td>
                    <td class="crm-info"><a class='contact-link' href="{{ url_for('contact_detail', id=contact.id) }}">{{ contact.contactphone }}<br>{{ contact.contactemail }}</a></td>
                    <td class="crm-info">
                        {{ latest_notes.get(contact.id, "No notes") }}
                    </td>
                    <td class="crm-info">
                        <ul class="tag-list">
                            {% for tag in contact.tags %}
                                <a class="tag-btn">{{ tag.name }}</a>
                            {% else %}
                                <p class="tag-btn-none">No tags</p>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="pagination">
                <p class="static-page-txt">Page:</p>
                {% if prev_url %}
                    <a class="previous-page" href="{{ prev_url }}">Previous</a>
                {% endif %}
                {% if current_page > 5 %}
                <a class="page-item-crm" href="{{ url_for('crm', page=1) }}">1</a>
                <span class="three-dots">. . .</span>
                {% endif %}
                {% for page in pages %}
                    <a class="page-item-crm" href="{{ url_for('crm', page=page) }}">{{ page }}</a>
                {% endfor %}
            
                {% if pages[-1] < total_pages %}
                    <span class="three-dots">. . .</span>
                    <a class="total-pages" href="{{ url_for('crm', page=total_pages) }}">{{ total_pages }}</a>
                {% endif %} 
            
                {% if next_url %}
                    <a class="next-page" href="{{ next_url }}">Next</a>
                {% endif %}
                {% endif %}
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
        var rows = document.querySelectorAll(".crm-info-row");
        rows.forEach(function(row){
            row.addEventListener("click", function(){
                window.location.href = this.getAttribute("data-href");
            });
        });
    });
</script>
{% endblock %}
