{% extends 'layout.html' %} {% block content %}
<div class="container">
    <div>
        <h1 class="hero-txt"><strong>Unleash Your Marketing Potential: <br>One CRM to Rule Them All</strong></h1>
    </div>
    <div>
        <h2 class="hero-subtxt">
            <strong>Empower Your Marketing Strategy</strong> <br>
            With <strongDa>Data Driven</strong> Insights, <br><strong>Seamless</strong>
             Collaboration, and <br><strong>Unparalleled</strong> Efficiency
            </h2>
    </div>
    <div>
        <button class="hero-button">
            Start Your 30-Day Trial  
        </button>
    </div>
</div>

{% endblock %}