{% extends 'layout.html' %} {% block content %}
<div class="container">
    <div>
        <h1><strong>Unleash Your Marketing Potential: One CRM to Rule Them All</strong></Unleash></h1>
    </div>
    <div>
        <h2>
            <strong>Empower Your Marketing Strategy</strong> 
            With <strongDa>Data Driven</strong> Insights, <strong>Seamless</strong>
                <br> Collaboration, and <strong>Unparalleled</strong> Efficiency
          </h2>
    </div>
    <div>
        <button>
            Start Your 30-Day Trial  
        </button>
    </div>
</div>

{% endblock %}