{% extends 'layout.html' %} {% block content %}
{% extends 'layout.html' %} {% block content %}
<div class="crm-page">
    <div class="crm-menu">
        <div class="contacts-block">
            <a>
                <span class="contacts">Contacts</span>
            </a>
        </div>
    </div>
    <div class="crm-inner-page">
        <div class="crm-upper-static">
            <form method="POST" enctype="multipart/form-data">
                <input class="upload-csv" type="file" name="csv" accept=".csv, .xlsx">
                <input class="upload" type="submit" value="upload">
            </form>
        </div>
        <div class="crm-contacts">
            <h1>Contacts with Upcoming Due Dates</h1>
            <ul>
                {% for contact, note in contacts_with_due_dates %}
                    <li>
                        {{ contact.Contact }} - Due Date: {{ note.due_date.strftime('%Y-%m-%d') }}
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                <p class="static-page-txt">Page:</p>
                {% if prev_url %}
                    <a class="previous-page" href="{{ prev_url }}">Previous</a>
                {% endif %}
                {% if current_page > 5 %}
                <a class="page-item-crm" href="{{ url_for('crm', page=1) }}">1</a>
                <span class="three-dots">. . .</span>
                {% endif %}
                {% for page in pages %}
                    <a class="page-item-crm" href="{{ url_for('crm', page=page) }}">{{ page }}</a>
                {% endfor %}
            
                {% if pages[-1] < total_pages %}
                    <span class="three-dots">. . .</span>
                    <a class="total-pages" href="{{ url_for('crm', page=total_pages) }}">{{ total_pages }}</a>
                {% endif %} 
            
                {% if next_url %}
                    <a class="next-page" href="{{ next_url }}">Next</a>
                {% endif %}
                {% endif %}
                
            </div>
        </div>
    </div>
</div>
{% endblock %}